.length{
  padding: 0.5%;
}

.product_list_wrapper {
  display:flex;
  background-color: #ffffff;
  padding: 1%;
  border-radius: 1.5rem;
  flex-direction: column;
  section{
    display: flex;
    flex-direction: row;
    div{
      text-align: center;
      padding: 0.5%;
      width: 100%;
      &.small{
        width:10%;
        min-width: 30px;
      }
      &.price{
        width:10%;
        min-width: 40px;
      }
    }
  }
  .bold{
    font-weight: bold;
  }
}
